@use './variables' as vars;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
  background-color: vars.$background-color;
  color: #ffff;
}

@media (max-width: 1200px) {
  body {
    width: 850px;
    padding: 10px 0;
  }
}

@media (max-width: 992px) {
  body {
    width: 680px;
  }
}

@media (max-width: 767px) {
  body {
    width: 500px;
  }
}

@media (max-width: 576px) {
  body {
    width: 100%;
  }
}

#app {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../fonts/Onest-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../fonts/Onest-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../fonts/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Onest', sans-serif;
}
