
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background: url('/background.png') center 50%/cover no-repeat;
}

@media (max-width: 767px) {
  body {
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 5px 10px;
    background: url('/mob_background.png') center 50%/cover no-repeat;
  }
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../fonts/Onest-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../fonts/Onest-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../fonts/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Onest', sans-serif;
}
